body {
  background-color: lightblue;
  font-size: 1.2em;
}

.alerts {
  display: none;
  color: red;
  font-size: 2em;
  font-style: italic;
}

.aside {
  font-style: italic;
  text-indent: 2ch;
  font-weight: 500;
  font-size: .9em;
  margin-bottom: -3px;
  color:rgba(0, 0, 0, 0.575);
}

.highlight {
  background-color: yellow;
  width: fit-content;
  padding: 0 10px 0 5px;
}

#results {
  border: black, dotted, 2px;
  width: 80%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

#bottom-padding {
  height: 100px;
  visibility: hidden;
}

#sun-comparison {
  display: none;
}
